:root {
  --body-color: #f3f4f6;
  --pair-body-color: #e7ebee;
  --black: #262626;
  --pair-black: #383838;
  --blue: #566cd2;
  --blue-light: #3498db;
  --blue-dark: #223cd1;
  --purple-light: #5e63b1;
  --purple: #8e44ad;
  --purple-dark: #3c428c;
  --red: #df1e32;
  --red-dark: #8a131f;
  --yellow: #f4b932;
  --yellow-light: #e2c070;
  --orang: #fd5403;
  --orang-light: #fb7d42;
  --Brown: #8b4513;
  --pink: #ff1756;
  --green: #1cb65d;
  --green-light: #32c7a7;
  --green-dark: #0e6956;
  /* n */
  --purple-light-n: #d4c1f9;
  --purple-dark-n: #8979a8;
  --blue-light-n: #dce3f3;
  --blue-n: #b4caf3;
  --blue-dark-n: #3a73f0;
  --green-light-n: #deeee3;
  --green-n: #bae0ca;
  --green-dark-n: #3da877;
  --orange-light-n: #faf0d7;
  --orange-n: #fae6b1;
  --orange-dark-n: #fcc53b;
  /*  */
  --black2: #131d22;
  --header-text-color: #444444;
  --text-color: #929294;
  --text-color2: #dbe0e0;
}

.container-profile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 3rem 0;
}

.img-profile {
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--purple-dark);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.parent-information-student {
  margin: 2rem 0;
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.student-name {
  color: var(--purple-dark);
  padding: 0.25rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.student-user-name {
  color: var(--black);
  padding: 0.25rem 0;
}

.info-student-1 {
  width: 35rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
  border-radius: 0.6rem;
  background-color: var(--black);
  color: var(--body-color);
}

.box-info-student-1 {
  margin: 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-info-student-1-main {
  font-size: 1.1rem;
  color: var(--body-color);
  margin: 0.25rem 0;
}

.box-info-student-1-title {
  font-size: 0.9rem;
  color: var(--pair-body-color);
  margin: 0.25rem 0;
}
